.logo {
    display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
}

.centeredContent {
      display: block;
      width: 90%;
      margin: 20% auto 10%;
      padding: 30%;
      position: relative;

}