<ion-grid>

  
    <ion-avatar class="Avatar1">
      <img src={{avatar1url}}>
    </ion-avatar>
  
  <ion-avatar class="Avatar2">
    <img src={{avatar2url}}>
  </ion-avatar>
  

  <ion-card class="zoneCard">
  <ion-card-content> Matching <br>{{matchPercent}}%</ion-card-content>
  <ion-range min=0 max=100  value={{matchPercent}} ></ion-range>
  </ion-card>
  
    <ion-avatar class="Avatar3">
      <img src={{avatar3url}}>
    </ion-avatar>
  
    <ion-avatar class="Avatar4">
      <img src={{avatar4url}}>
    </ion-avatar>
  
</ion-grid>

<ion-button shape="round" color="logo-green" routerLink="src\app\group-info-page">
<div style="color:white">Join</div>
</ion-button>

