<ion-header [translucent]="true" >
  <ion-toolbar style="margin-top: 5%;"> 
    <a (click)="closeTab()" style="width:fit-content; color: black; font-weight: bold;">Close</a>
    <ion-title size="large">Zone View</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

<div   *ngFor="let item of zone1" >
<app-zone-table id={{item.id}} class="Zone1"  zoneId={{item.id}} student1id={{item.Seat1}} student2id={{item.Seat2}} student3id={{item.Seat3}} student4id={{item.Seat4}}></app-zone-table>  
</div>

<div style="height:25px; display: inline-block;"  ></div>
<div  *ngFor="let item of zone2" >
  <div style="height:335px; display: inline-block;"  ></div>
  <app-zone-table class="Zone2"   id={{item.id}} zoneId={{item.id}} student1id={{item.Seat1}} student2id={{item.Seat2}} student3id={{item.Seat3}} student4id={{item.Seat4}}></app-zone-table>  
  </div>




</ion-content>
