
ion-title {
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #000000;
    }

ion-avatar {
        max-width: 50px;
        max-height: 50px;
    
}

ion-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5%;
    padding-left: -5%;

}

ion-range{

    --knob-size:0px;
    --bar-height:15px;
    pointer-events: none;
    --bar-border-radius:20px;
      --bar-background-active: #6EA81A;
      margin-right: 155px;
      
  }

  .Zone1{
display: inline-block;

  }

  .Zone2 {
    display: inline-block;
    float: right;
    flex-direction: column;
    margin-right: -40%;
    margin-top: -162.5%;
    
    
      }