<ion-header [translucent]="true" >
  <ion-toolbar style="margin-top: 5%;"> 
    <a (click)="closeTab()" style="width:fit-content; color: black; font-weight: bold;">X</a>
    <ion-title size="large">Zone View</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<div class="Zone1">
  <app-zone-table matchPercent=30 avatar1url="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/153477497_2506129096357676_3942607842547383038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kLzN-aSs6FQAX-EhRqc&_nc_ht=scontent.frke1-1.fna&oh=611832dfb273f710778736bead2c1cec&oe=607C13F4"></app-zone-table>
  
  <app-zone-table matchPercent=65 avatar1url=""></app-zone-table>
</div>

<div class="Zone2">
  <app-zone-table matchPercent=80 avatar1url=""></app-zone-table>

  <app-zone-table matchPercent=95 avatar1url=""></app-zone-table> 
</div>
</ion-content>
