<ion-header [translucent]="true" >
  <ion-toolbar style="margin-top: 5%;"> 
    <ion-title size="large">Zone View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
    <ion-col class="Column1" >
      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">
        <ion-icon style ="float:right; width:20px; height:20px; margin-left: 2px;"name="chevron-forward"></ion-icon>
      </div>
      
        <ion-avatar>
         <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/153477497_2506129096357676_3942607842547383038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kLzN-aSs6FQAX-EhRqc&_nc_ht=scontent.frke1-1.fna&oh=611832dfb273f710778736bead2c1cec&oe=607C13F4">
        </ion-avatar>
      
         <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/153477497_2506129096357676_3942607842547383038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kLzN-aSs6FQAX-EhRqc&_nc_ht=scontent.frke1-1.fna&oh=611832dfb273f710778736bead2c1cec&oe=607C13F4">
        </ion-avatar>
   
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/153477497_2506129096357676_3942607842547383038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kLzN-aSs6FQAX-EhRqc&_nc_ht=scontent.frke1-1.fna&oh=611832dfb273f710778736bead2c1cec&oe=607C13F4">
        </ion-avatar>
   
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/153477497_2506129096357676_3942607842547383038_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=kLzN-aSs6FQAX-EhRqc&_nc_ht=scontent.frke1-1.fna&oh=611832dfb273f710778736bead2c1cec&oe=607C13F4">
        </ion-avatar>
   
    
    </ion-col>

    <ion-col class="Column1">
      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;"> 
        <ion-icon style ="float:right; width:20px; height:20px; margin-left: 2px;"name="chevron-forward"></ion-icon>
      </div>
    
      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/136676430_747264706201555_2556747391966028488_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=AQ87Ya-QWhgAX8C0G5J&_nc_ht=scontent.frke1-1.fna&oh=741e41b5e802262c7dc1efcc1d809cdf&oe=607E9D97">
      </ion-avatar>
 
      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/136676430_747264706201555_2556747391966028488_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=AQ87Ya-QWhgAX8C0G5J&_nc_ht=scontent.frke1-1.fna&oh=741e41b5e802262c7dc1efcc1d809cdf&oe=607E9D97">
      </ion-avatar>
 
      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/136676430_747264706201555_2556747391966028488_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=AQ87Ya-QWhgAX8C0G5J&_nc_ht=scontent.frke1-1.fna&oh=741e41b5e802262c7dc1efcc1d809cdf&oe=607E9D97">
      </ion-avatar>
  
      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/136676430_747264706201555_2556747391966028488_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=AQ87Ya-QWhgAX8C0G5J&_nc_ht=scontent.frke1-1.fna&oh=741e41b5e802262c7dc1efcc1d809cdf&oe=607E9D97">
      </ion-avatar>
   
    </ion-col>
  </ion-row>

    <ion-row>
    <ion-col class="Column2">
      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">
        <ion-icon style ="float:right; width:20px; height:20px; margin-left: 2px;"name="chevron-forward"></ion-icon>
      </div>
     
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/149595256_3658969164151876_1268078943583514762_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=y0xoY8WnYssAX8sbP8f&_nc_ht=scontent.frke1-1.fna&oh=1ded5f2643baca3cca76297251442493&oe=607F2960">
        </ion-avatar>
      
      
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/39454187_10214307808541358_2330629793759887360_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=t2BTHPGYTIcAX_qkA3w&_nc_ht=scontent.frke1-1.fna&oh=4dfd680351f7f91a800a7bfde1a809cb&oe=607D15A0">
        </ion-avatar>
    
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/124478226_10221303980003256_4296033370435035667_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=AMWght3mPRQAX8WW7Pa&_nc_oc=AQlD_NyxToz_CTqh3zohVv_FgJ_a94Gq3yXulY0hgNvmH-IMVUMUQ_VvgH3Z1XxE4jc&_nc_ht=scontent.frke1-1.fna&oh=6fc859221f90760020342b8125062aa1&oe=607BAAF5">
        </ion-avatar>
    
    </ion-col>
    
    <ion-col class="Column2">
      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">  
        <ion-icon style ="float:right; width:20px; height:20px; margin-left: 2px;"name="chevron-forward"></ion-icon>
      </div>
      
        <ion-avatar>
          <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/145191672_10225287913411778_7521143660284988688_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=_1dH_iICysQAX-cXEmP&_nc_ht=scontent.frke1-1.fna&oh=6e061e0e74af43a4745aecf2fb169f58&oe=607CEE6B">
        </ion-avatar>
    
      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/45166183_2030699936950444_377588476415049728_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=W2i6InvopxUAX-F4hJY&_nc_ht=scontent.frke1-1.fna&oh=6fe6df3790efcbaa52325637b59c595a&oe=607DE409">
      </ion-avatar>

      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/163395057_1863344603831768_5801058582021571553_o.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=EzL_RZAau-0AX_pI5V0&_nc_ht=scontent.frke1-1.fna&oh=6062c4a1c64648eaccdd403f2117b0b5&oe=607E38B0">
      </ion-avatar>

      <ion-avatar>
        <img src="https://scontent.frke1-1.fna.fbcdn.net/v/t1.0-9/52935395_10213329091607789_2427838325441167360_o.jpg?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=k-c9mkfuaV8AX-u_STN&_nc_ht=scontent.frke1-1.fna&oh=03d05f472cb4f79914d73e571e26243b&oe=607D2EE5">
      </ion-avatar>
  
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
