<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabHomes">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMood">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Mood</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabRoomView">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Room View</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="tabYourProfile">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Your Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tabInformation">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Information</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
