ion-title {
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #000000;
    }

ion-toolbar {

padding-bottom:5%;

}

ion-card-content {
    font-family: 'Tahoma';
    margin-bottom: 0%;
}

selected-tab {
    
    --color: #6EA81A;
}

.aboutApp {
font-size: x-small;
font-family:'Tahoma';
text-align: center;

     
}