<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="Information">

    <ion-card-content>

    <p>
      In the <b>Vent2Learn</b> app, here you quickly and surely have control over the settings that enable you to create the best experience of the present indoor climate. 
    <br>
    <br>
      Below is an overview of the parameteres that contribute to this activity and the functions that you have access to:
    <br>
    <br>
    Log In: Access the app with your GoogleAccount, Facebook, or Sign up with your desired e-mail address and Password.
    <br>
    <br>
    Home: See real-time notifications of the weather outside and the indoor climate in your classroom environment. 
    <br>
    <br>
    Mood: Change AirSpeed, Temperature, Humidity and AirQuality according to your own perception of warm/cold, humid/dry. 
    <br>
    <br>
    Room View: See the users with similar preferences and join them or turn on the system for yourself only. 
    <br>
    <br>
    Your Profile: Store your personal information and keep a journal of your interactions. 

  </p>
    </ion-card-content>
  </ion-card>



</ion-content>
