ion-toolbar {

    padding-bottom:5%;
}


ion-title {
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #000000;
    }

    ion-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
   
   }
ion-fab-button{

    --background-activated-opacity: 100%;
    --background: black;
    

}

ion-list {
        font-family: 'Tahoma';
    }

label{
    font-size: small;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.typeHeader{
    margin-top: 10px;
}