<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<div class="my-overlay" padding [hidden]="overlayHidden">
  <div class="overlayText">
   You need to log in to access this page. Press 
   <div class="clickHere" on (click)="hideOverlay()">here</div> to proceed.</div>
</div> 

<ion-content [scrollEvents]="true">

  <ion-fab [hidden]="!overlayHidden" horizontal="end" vertical="bottom" slot="fixed" >
  <ion-fab-button color="medium">
    <ion-icon style="padding-left:3px"  name="log-out-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button (click)="logoutButton()" color="logo-green" style="width:31px; height: 31px;"><ion-icon style="width:20px; height:20px;"  name="checkmark-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

  <ion-avatar style="height: 100px; width: 100px; margin-top: 25px; margin-left: 135px;">
    <ion-img src={{profilePictureUrl}}></ion-img>
  </ion-avatar>  

  <div style= "margin-left: 36%; margin-top: 5%;">{{firstName}}</div>
  
<div style="font-size: large; margin-left: 10%; margin-top: 5%; margin-bottom: 2%;">Your Preferences</div>

  <ion-list>
    <ion-item lines="none">
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="star-outline"></ion-icon>
    </ion-avatar>

    <ion-range class="slider1" value="0" min="0" max="40" step="1" pin="false">
      <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/wind.svg"></ion-icon>
    </ion-range>


    <ion-range class="slider2" min="0" max="40" step="1" pin="false"  >
      <ion-icon  slot="start" size="small" style="margin-right: 25px" name="thermometer-outline"></ion-icon>
    </ion-range>

    </ion-item>

    <ion-item>
    <ion-range class="slider3" min="0" max="40" step="1" pin="false" style="margin-left: 39px; margin-top: -25px;" >
      <ion-icon slot="start" size="small" style="margin-right: 25px" name="water-outline"></ion-icon>
  </ion-range>
 
  <ion-range class="slider4" min="0" max="40" step="1" pin="false" style="margin-top: -25px" >
    <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/bad-breath.svg"></ion-icon>
  </ion-range>
  </ion-item>

  <ion-item [hidden]="!overlayHidden" lines="none">
    <ion-avatar >
      <ion-icon style="width:30px;height: 30px;" name="star-outline"></ion-icon>
    </ion-avatar>

    <ion-range [hidden]="!overlayHidden" class="slider1" value="35" min="0" max="40" step="1" pin="false">
      <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/wind.svg"></ion-icon>
    </ion-range>


    <ion-range [hidden]="!overlayHidden" class="slider2" min="0" max="40" step="1" pin="false"  >
      <ion-icon  slot="start" size="small" style="margin-right: 25px" name="thermometer-outline"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item [hidden]="!overlayHidden">
    <ion-range [hidden]="!overlayHidden" class="slider3" min="0" max="40" step="1" pin="false" style="margin-left: 39px; margin-top: -25px;" >
      <ion-icon slot="start" size="small" style="margin-right: 25px" name="water-outline"></ion-icon>
  </ion-range>
 
  <ion-range [hidden]="!overlayHidden" class="slider4" min="0" max="40" step="1" pin="false" style="margin-top: -25px" >
    <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/bad-breath.svg"></ion-icon>
  </ion-range>
  </ion-item>


  <ion-item [hidden]="!overlayHidden" lines="none">
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="star-outline"></ion-icon>
    </ion-avatar>

    <ion-range [hidden]="!overlayHidden" class="slider1" value="10" min="0" max="40" step="1" pin="false">
      <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/wind.svg"></ion-icon>
    </ion-range>


    <ion-range [hidden]="!overlayHidden" class="slider2" min="0" max="40" step="1" pin="false"  >
      <ion-icon  slot="start" size="small" style="margin-right: 25px" name="thermometer-outline"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item [hidden]="!overlayHidden">
    <ion-range  [hidden]="!overlayHidden"class="slider3" min="0" max="40" step="1" pin="false" style="margin-left: 39px; margin-top: -25px;" >
      <ion-icon slot="start" size="small" style="margin-right: 25px" name="water-outline"></ion-icon>
  </ion-range>
 
  <ion-range [hidden]="!overlayHidden" class="slider4" min="0" max="40" step="1" pin="false" style="margin-top: -25px" >
    <ion-icon slot="start" size="small" style="margin-right: 25px" src="assets/icon/bad-breath.svg"></ion-icon>
  </ion-range>
  </ion-item>

  </ion-list>


  <div class="typeHeader" style="font-size: large; margin-left: 10%; margin-top: 5%; margin-bottom: 2%;">Your Classrooms</div>

  <ion-list>
    <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="location-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden" style="font-size: small;">
      <ion-icon (click)="OnClickGiveConfirmationAlert()" style="width:15px;height: 15px; margin-left: 440%; margin-top: 5%;" name="close-outline"></ion-icon>
      Classroom<br/> D3.12<br/> Belgrade
  </label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="location-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden" style="font-size: small;">
      <ion-icon  (click)="OnClickGiveConfirmationAlert()"style="width:15px;height: 15px; margin-left: 367%; margin-top: 5%;" name="close-outline"></ion-icon>
      Classroom<br/> D3.13<br/> Copenhagen
  </label>
  </ion-item>
  <ion-item [hidden]="!overlayHidden">
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="location-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden" style="font-size: small;">
      <ion-icon (click)="OnClickGiveConfirmationAlert()" style="width:15px;height: 15px; margin-left: 440%; margin-top: 5%;" name="close-outline"></ion-icon>
      Classroom<br/> D3.14<br/> London
  </label>
  </ion-item>
  </ion-list>


  <div class="typeHeader" style="font-size: large; margin-left: 10%; margin-top: 5%;">Your Groups</div>
  
  <ion-list>
    <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden">
    <ion-icon (click)="OnClickGiveConfirmationAlert()"style="width:15px;height: 15px; margin-left: 525%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  Group 1 <br/> Christian <br/> Hajnalka<br/> Birenda <br/> Marketa
  </label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden">
    <ion-icon (click)="OnClickGiveConfirmationAlert()" style="width:15px;height: 15px; margin-left: 550%; margin-bottom: 5%;" name="close-outline"></ion-icon>
    Group 2 <br/> Andrei <br/> Helena<br/> Andreea
  </label>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people-outline"></ion-icon>
    </ion-avatar>
    <label [hidden]="!overlayHidden">
    <ion-icon (click)="OnClickGiveConfirmationAlert()" style="width:15px;height: 15px; margin-left: 573%; margin-bottom: 5%;" name="close-outline"></ion-icon>
      Group 3 <br/> Isak <br/> Amalie<br/> Borislav <br/> Shimul
  </label>
  </ion-item>
  </ion-list>

  
  <br>
  <br>
  <br>
  <br>

</ion-content>
