<ion-header>
  <ion-toolbar>
    <ion-title size="large">Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="border-radius: 2000px; background-color: #EFEFEF; height: 15%; width: 30%; margin: auto; margin-top: 10%; padding-left: 11%; padding-top: 8%;">     
  <ion-icon name="person" style="width: 30px; height: 30px;"></ion-icon>
  </div>

  <div style= "margin-left: 36%; margin-top: 5%;">Andrei Popa</div>
  <div style= "margin-left: 64%; margin-top: -5%;">21</div>

  <div style="border-radius: 500px;background-color: #EFEFEF; height: 5%; width: 10%; margin: auto; margin-top: -7%;
  margin-left: 70%; padding-left: 3%; padding-top: 2%;">
  <ion-icon name="create-outline" style="width: 19px; height: 19px;"></ion-icon>
  </div>

  <ion-button shape="round" color="logo-green" class="joinButton" style="margin-left: 37%; margin-top: 5%;" ><div style="color:white">Edit info</div> </ion-button>
  <div style="font-size: large; margin-left: 10%; margin-top: 5%; margin-bottom: 2%;">Your Preferences</div>

  <ion-list>
    <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="school"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="school"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="school"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="school"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  </ion-list>

  <div style="font-size: large; margin-left: 10%; margin-top: 5%;">Your Friends</div>
  
  <ion-list>
    <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="person"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="person"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="person"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="person"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  </ion-list>

  <div style="font-size: large; margin-left: 10%; margin-top: 5%;">Your Groups</div>
  
  <ion-list>
    <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-avatar>
      <ion-icon style="width:30px;height: 30px;" name="people"></ion-icon>
    </ion-avatar>
    <ion-icon style="width:15px;height: 15px; margin-left: 80%; margin-bottom: 5%;" name="close-outline"></ion-icon>
  </ion-item>
  </ion-list>
</ion-content>
