<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Classroom View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">


  <ion-icon name="business-outline" style="width: 25%; height: 25%;"></ion-icon>
  <ion-card style="margin-top: -10%;"> 
    <ion-card-header>

      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">
        
      <ion-icon style ="float:right; width:20px; height:20px; margin-left: 1px;"name="chevron-forward"></ion-icon>
    </div>
      <ion-item lines="none">
     <ion-icon slot="start" style="width:40px; height:40px; margin-left:-5%" name="location-outline"></ion-icon>
      <ion-card-title>Classroom D3.12 Belgrade</ion-card-title>
      </ion-item>
      <ion-card-content>UX Class</ion-card-content>

    <ion-button shape="round" color="logo-green" class="joinButton" ><div style="color:white">Choose</div> </ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>

      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">
        
      <ion-icon style ="float:right; width:20px; height:20px; margin-left: 1px;"name="chevron-forward"></ion-icon>
    </div>
      <ion-item lines="none">
     <ion-icon slot="start" style="width:40px; height:40px; margin-left:-5%" name="location-outline"></ion-icon>
      <ion-card-title>Classroom D3.13 Copenhagen</ion-card-title>
      </ion-item>
      <ion-card-content>Database Class</ion-card-content>

    <ion-button shape="round" color="logo-green" class="joinButton" ><div style="color:white">Choose</div> </ion-button>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>

      <div style="border-radius: 1000px; background-color: #EFEFEF; float:right;">
        
      <ion-icon (click)="onIconClick()" style ="float:right; width:20px; height:20px; margin-left: 1px;"name="chevron-forward"></ion-icon>
    </div>
      <ion-item lines="none">
     <ion-icon slot="start" style="width:40px; height:40px; margin-left:-5%" name="location-outline"></ion-icon>
      <ion-card-title>Classroom D3.14 London</ion-card-title>
      </ion-item>
      <ion-card-content>Frontend & Backend Class</ion-card-content>

    <ion-button shape="round" color="logo-green" class="joinButton" ><div style="color:white">Choose</div> </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
