<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Classroom View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <ion-icon name="business-outline" style="width: 25%; height: 25%; margin-bottom: 15px;"></ion-icon>
 
  
  
  <div *ngFor="let item of rooms; let i =index">
   <app-classroom-card courseName={{item.CourseName}} classroomName={{item.Name}} firestoreId={{item.id}}></app-classroom-card>
    </div>
 
</ion-content>
