ion-range{

  --knob-size:0px;
  --bar-height:40px;
  pointer-events: none;
  --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    
}

ion-content{

  font-family: 'Tahoma';
}

ion-title {

  font-family: 'Tahoma';
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  display: block;
  color: #000000;
  }