<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <div (click)="onClick()" style="width:fit-content; color: red; font-weight: bold;">Close</div>
    <ion-title size="large">Group 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
  <ion-avatar>
    <ion-icon style="width:50px;height: 50px;"name="person"></ion-icon>
  </ion-avatar>
</ion-item>
<ion-item>
  <ion-avatar>
    <ion-icon style="width:50px;height: 50px;"name="person"></ion-icon>
  </ion-avatar>
</ion-item>
<ion-item>
  <ion-avatar>
    <ion-icon style="width:50px;height: 50px;"name="person"></ion-icon>
  </ion-avatar>
</ion-item>
<ion-item>
  <ion-avatar>
    <ion-icon style="width:50px;height: 50px;"name="person"></ion-icon>
  </ion-avatar>
</ion-item>
</ion-list>

</ion-content>
<ion-footer>
  <ion-range  value=40 ></ion-range>
  </ion-footer>