<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

  <div class="currentMoodText">Current indoor climate</div>
  <ion-icon class="currentMood" name="chevron-forward"></ion-icon>

  <ion-range  class="slider1" (blur)="airSpeedRelease()" value="20" (ionChange)="rangeChange()" [(ngModel)]="airSpeed" value="0" min="0" max="40" step="1" pin="false">
    <ion-icon slot="start" size="large" style="margin-right: 25px" src="assets/icon/wind.svg"></ion-icon>
    <ion-icon  slot="end" class="infoIcon" name="information-circle-outline" (click)="presentAlert ('Air Speed parameter allows you to influence the ventilator’s intensity. The draught inside a room ( we refer to it as Air Speed), that could make you uncomfortable, is now easily controlled, as per your own preference.')"></ion-icon>
  </ion-range>

  <ion-icon class="preferenceMood" id="moodArrow" name="chevron-forward"></ion-icon>
  <div class="preferenceMoodText" id="moodArrowText">Your preference</div>

  <ion-range class="slider2" (blur)="temperatureRelease()" value="20" min="0" max="40" step="1" pin="false" [(ngModel)]="temperature" >
        <ion-icon  slot="start" size="large" style="margin-right: 25px" name="thermometer-outline"></ion-icon>
        <ion-icon slot="end" class="infoIcon" name="information-circle-outline" (click)="presentAlert ('Temperature parameter allows you to adjust the degrees in a zone. Body temperature or the sensation of feeling hot or cold is also one of the aspects that contribute to your health and overall well-being, so we made that available for you to adjust in here.')"></ion-icon>
  </ion-range>

  <ion-range class="slider3" (blur)="humidityRelease()" value="20" min="0" max="40" step="1" pin="false" [(ngModel)]="humidity" >
      <ion-icon slot="start" size="large" style="margin-right: 25px" name="water-outline"></ion-icon>
      <ion-icon class="infoIcon" slot="end" name="information-circle-outline"  (click)="presentAlert ('Humidity parameter allows you to adjust the level of water vapor in the air. Humidity in your environment changes the body s perception of heat, so we aim to you becoming aware of what your body real needs.')"></ion-icon>
  </ion-range>
 
  <ion-range class="slider4" (blur)="airQualityRelease()" value="20" min="0" max="40" step="1" pin="false" [(ngModel)]="airQuality" >
    <ion-icon slot="start" size="large" style="margin-right: 25px" src="assets/icon/bad-breath.svg"></ion-icon>
    <ion-icon class="infoIcon" slot="end" name="information-circle-outline"  (click)="presentAlert ('Air Quality parameter allows you getting fresh air everytime it is needed. Studies show that when we breathe air with high CO2 levels, we experience low cognitive functioning, sleepiness and even anxiety. The amount of oxygen that reaches our brains is highly important, therefore you can now maintain it at an optimal level.')"></ion-icon>
  </ion-range>

  <div class="infoText">
    Click the button below when you are ready to proceed with joining a pre-existing group or simply claim a new spot in a zone.
  </div>

 <ion-button class="startButton" routerLink="/tabs/tab3" shape="round" color="logo-green" >
  <div style="color:white">Start</div> 
 </ion-button>  
</ion-content>
