.startButton {

    display: block;
    align-items: center;
    padding: 16px 32px;
    font-weight: bold;
    
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 110%;
    margin-bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;

    background: #6EA81A;
    border-radius: 100px;

    /*
    width: 104px;
    height: 51px;
    left: 135px;
    top: 578px;

    */
    
    
    }