<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Mood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

 
   <ion-range  class="slider1" value="30" min="0" max="40" step="1" pin="false"  > 
    

<ion-icon slot="start" size="large" style="margin-right: 25px" src="assets/icon/wind.svg"></ion-icon>
<ion-icon  slot="end" class="infoIcon" name="information-circle-outline" (click)="presentAlert ('Air Speed parameter allows you to influence the ventilator’s intensity.')"></ion-icon>
</ion-range>

  <ion-range class="slider2" min="0" max="40" step="1" pin="false"  >
        <ion-icon  slot="start" size="large" style="margin-right: 25px" name="thermometer-outline"></ion-icon>
        <ion-icon slot="end" class="infoIcon" name="information-circle-outline" (click)="presentAlert ('Temperature parameter allows you to adjust the degrees in a zone.')"></ion-icon>
  </ion-range>


  <ion-range class="slider3" min="0" max="40" step="1" pin="false"  >
      <ion-icon slot="start" size="large" style="margin-right: 25px" name="water-outline"></ion-icon>
      <ion-icon class="infoIcon" slot="end" name="information-circle-outline"  (click)="presentAlert ('Humidity parameter allows you to adjust the level of water vapor in the air.')"></ion-icon>
  </ion-range>
 
  <ion-range class="slider4" min="0" max="40" step="1" pin="false"  >
    <ion-icon slot="start" size="large" style="margin-right: 25px" src="assets/icon/bad-breath.svg"></ion-icon>
    <ion-icon class="infoIcon" slot="end" name="information-circle-outline"  (click)="presentAlert ('Air Quality parameter allows you getting fresh air everytime it is needed.')"></ion-icon>
  </ion-range>

  <div class="infoText">
    Click the button below when you are ready to proceed with joining a pre-existing group or simply claim a new spot in a zone.
  </div>

 <ion-button class="startButton" shape="round" color="logo-green">
  <div style="color:white">Start</div> 
 </ion-button>

  
</ion-content>
