ion-toolbar {

    padding-bottom:5%;
}


ion-title {
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #000000;
    }

.infoIcon{

   display: block;
  // margin-top: 20%;
  // margin-left: 80%;
}


.infoText {

font-family: 'Tahoma';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
margin-top: 20%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20%;
color: black;
}


.slider{
    line-height: 20px;
    --bar-height:20px;
    --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    margin-top: 5%;
}



.startButton {

    display: block;
    align-items: center;
   // padding: 16px 32px;
    font-weight: bold;
    font-family: 'Tahoma';
    
   // padding-left: 8%;
   // padding-right: 8%;
    margin-bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;

    background: #6EA81A;
    border-radius: 100px;

    /*
    width: 104px;
    height: 51px;
    left: 135px;
    top: 578px;

    */
    
    
    }

    ion-button{

        font-family: 'Tahoma';
    }
