ion-toolbar {

    padding-bottom:5%;
}


ion-title {
    font-family: 'Tahoma';
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    display: block;
    color: #000000;
    }

.infoIcon{

   display: block;
  // margin-top: 20%;
  // margin-left: 80%;
}


.infoText {

font-family: 'Tahoma';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
margin-top: 20%;
margin-left: auto;
margin-right: auto;
margin-bottom: 20%;
color: black;
}



.slider1{
   
    --bar-height:22px;
    --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    margin-top: -5%;
    margin-bottom: -4%;
    --bar-background: linear-gradient(90deg, rgba(142,25,168,1) 65%,  rgb(218, 212, 212) 65%);
}
.slider2{
   
    --bar-height:22px;
    --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    margin-top: -2%;
    --bar-background: linear-gradient(90deg, rgba(142,25,168,1) 69%, rgb(218, 212, 212) 69%);
}
.slider3{
   
    --bar-height:22px;
    --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    margin-top: 5%;
    --bar-background: linear-gradient(90deg, rgba(142,25,168,1) 25%,  rgb(218, 212, 212) 25%);
}
.slider4{
   
    --bar-height:22px;
    --bar-border-radius:20px;
    --bar-background-active: #6EA81A;
    margin-top: 5%;
    --bar-background: linear-gradient(90deg, rgba(142,25,168,1) 95%,  rgb(218, 212, 212) 95%);
}


.startButton {

    display: block;
    align-items: center;
    font-weight: bold;
    font-family: 'Tahoma';

    margin-bottom: 20%;
    margin-left: 25%;
    margin-right: 25%;

    background: #6EA81A;
    border-radius: 100px;      
    }

    ion-button{
        font-family: 'Tahoma';
    }

    .ranger{
       margin-top: 5%;
        background-color: red;
        z-index: -10;
        height: 20px;
        border-radius: 20px;
        --bar-height:20px;
        --bar-border-radius:20px;
        --bar-background-active: #a81aa8;
    }

    .currentMood{
        width:20px;
        height:20px; 
        margin-left: 220px; 
        transform: rotate(90deg);
        color: rgba(142,25,168,1);
    }

    .preferenceMood{
        display:block;
        width:20px;
        height:20px;
        margin-left: 185px;
        transform: rotate(-90deg);
        color: #6EA81A;
    }

    .currentMoodText{
        font-size: 10px;
        color: rgba(142,25,168,1);
        font-weight: bold;
        margin-left: 180px;
        margin-top: 30px;
    }

    .preferenceMoodText{
        font-size: 10px;
        color: #6EA81A;
        font-weight: bold;
        margin-left: 160px;
    }