

<ion-content>
  <img style="margin-top: -20%; margin-bottom: -20%;" src="assets/vent2learn.png">
  <br>
<ion-button class="googleLogIn" color="medium"><ion-icon name="logo-google" slot="start"></ion-icon> Sign in with Google</ion-button>
<br>
<ion-button class="facebookLogIn" color="facebook-color" (click)="SignUpFacebook()"><ion-icon name="logo-facebook" slot="start"></ion-icon> Sign in with Facebook</ion-button>
<ion-button class="guestLogIn" [routerLink]="['/tabs/tab1']" color="logo-green"> Continue as guest</ion-button>

<br>
<img  src="assets/orBar.png">
<br>

<ion-input placeholder="Email"></ion-input>
<ion-input placeholder="Confirm email"></ion-input>
<ion-input placeholder="Password"></ion-input>
<ion-button  class="signupButton" color="logo-green">
<div style=" color:white;
font-weight: bold;">  Sign Up</div>

</ion-button>



</ion-content>
