ion-toolbar {

  padding-bottom:5%;
}


ion-title {

font-family: 'Tahoma';
font-style: normal;
font-size: 40px;
line-height: 100%;
text-align: center;
display: block;
color: #000000;
}


.ClickMeToStart {
    font-family: 'Tahoma';
    font-weight: bold;
    display: block;
    align-items: center;
    //padding: 16px 16px;

    //padding-left: 8%;
   // padding-right: 8%;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;

    background: #6EA81A;
    
    border-radius: 100px;
    

  /*  
    position: absolute;
    width: 190px;
    height: 50px;
    left: 92px;
    top: 574px;

   */
    
    
    }

    .firstNotification {
      font-family: 'Tahoma';
      margin-top: 10%;
      background: black;
      color: white;
    }

    .secondNotification {
      font-family: 'Tahoma';
      background: black;
      color: white;
    }

    .thirdNotification {
      font-family: 'Tahoma';
      background: black;
      color: white;
    }