<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  
  <ion-card class="firstNotification">
    <ion-card-content>
      Hi {{firstName}}! 
      <br>
      Our app is meant to provide you with the best possible experience while attending your classes at Zealand Academy. 
      <br>
      This goal is achieved by you being able to influence the indoor climate in a class room, according to your own definition of comfort. 
     <br>
      On the next page, we want to shortly present to you the four parameters on which the quality of your activities is depending directly.
      <br>
      Feel free to access all of these benefits and control the indoor climate in <b>Mood</b>. 
    </ion-card-content>
  </ion-card>

  <ion-card class="secondNotification">
    <ion-card-content>
      <b>Mood</b> also enables you to adjust the Air Speed, Temperature, Humidity and Air Quality in order to find your best matching group. 
    </ion-card-content>
  </ion-card>

  <ion-card class="thirdNotification">
    <ion-card-content>
      Have a nice day and enjoy! 😊 
    </ion-card-content>
  </ion-card>


  <ion-button shape="round"class='ClickMeToStart' routerLink="/tabs/tab2"   color="logo-green">
    <div style="color:white">Press me to start</div>
  </ion-button>


  
</ion-content>
