<ion-header [translucent]="true">
  <ion-toolbar style="margin-top: 5%;">
    <ion-title size="large">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  
  <ion-card class="firstNotification">
    <ion-card-content>
      Hi {{firstName}}!  Today’s temperature is 18°C and the current indoor climate is set to 20°C. 
      Feel free to control the indoor climate in <b>Mood</b>. 
    </ion-card-content>
  </ion-card>

  <ion-card class="secondNotification">
    <ion-card-content>
      Mood enables you to adjust the Air Speed, Temperature, Humidity and Air Quality in order to find your best matching group. 
    </ion-card-content>
  </ion-card>

  <ion-card class="thirdNotification">
    <ion-card-content>
      Have a nice day and enjoy! 😊 
    </ion-card-content>
  </ion-card>


  <ion-button shape="round"class='ClickMeToStart' routerLink="/tabs/tab2"   color="logo-green">
    <div style="color:white">Click me to start</div>
  </ion-button>


  
</ion-content>
